.div{
    background-color: #e4eaee;
    width: 100%;
    height: 1050px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.loginform {
    background-color: rgb(255, 255, 255);
    width: 450px;
    height: 350px;
    box-shadow:0px 0px 5px #8c9194;
    border-radius: 5px 5px 5px 5px;
    display:flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    flex-direction: column;
    margin-bottom: 200px;
    
  }
.title{
    margin-left: -290px;
    margin-top: -250px;
    
    position: fixed;
}
.info{
    width: 350px;
    height: 40px;
    

}

.failedLogin{
    /* background-color: green; */
    color: red;
    position: fixed;
    margin-top: 200px;
    
}

.bar{
    height:56px;
      width:100%;
      position:fixed;
      top:0;
      left:0;
      background-color:#ffffff;
      outline:1px #a4dbde solid;
      display:flex;
      justify-content: flex-start;
      align-items: center;
      padding:0 20px;
      box-sizing: border-box;
      z-index: 90;
  }
  
  .logo {
    background-image: url("../../assets/GroupIcon.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 300px;
    height: 100%;
    margin-left: 10px;
  }