.background{
    width: 100%;
    height: 40px;
    display: inline-flex;
    
}

.select{
    width: 12%;
    height:100%;
    font-size: 11pt;
    font-weight: 600;
    color: #1890ff;
    text-align: center;
    background-color: white;
    /* border: 1px #90a4ae solid; */
    border-left: 1px #90a4ae solid;
    border-right: 1px #90a4ae solid;

}

.select>div>span{
    margin-left: 16%;
  }

.choice{
    width: 4%;
    border:  1px #90a4ae solid;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.choiceNoUse{
    background-color:#bfe6ff;
    border-top: 1px #90a4ae solid;
    width: 4%;
  
}

